.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $spec-color;
  }
}
.intro-text h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#lefthand {
  animation: hand 1.5s infinite alternate;
  transform-origin: bottom;
}
#righthand {
  animation: hand 1.5s infinite alternate 0.5s;
}
#rightleg {
  animation: leg 1.5s infinite alternate;
}
#leftleg {
  animation: leg 1.5s infinite alternate 0.5s;
  transform-origin: bottom;
}

@keyframes hand {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-1%);
  }
}
@keyframes leg {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(1deg);
  }
}
